terraform/modules/pulumi-provisioner/state_machines/destroy_range_pulumi.asl.json
{
  "Comment": "Destroy range infrastructure using Pulumi",
  "StartAt": "RunPulumiDestroy",
  "TimeoutSeconds": 1800,
  "States": {
    "RunPulumiDestroy": {
      "Type": "Task",
      "Resource": "arn:aws:states:::ecs:runTask.sync",
      "Parameters": {
        "LaunchType": "FARGATE",
        "Cluster": "${ecs_cluster_arn}",
        "TaskDefinition": "${task_definition_arn}",
        "NetworkConfiguration": {
          "AwsvpcConfiguration": {
            "Subnets.$": "States.StringToJson('${private_subnet_ids}')",
            "SecurityGroups": ["${ecs_security_group_id}"],
            "AssignPublicIp": "DISABLED"
          }
        },
        "Overrides": {
          "ContainerOverrides": [{
            "Name": "pulumi-provisioner",
            "Command": ["destroy"],
            "Environment": [
              {"Name": "RANGE_ID", "Value.$": "States.Format('{}', $.range_id)"},
              {"Name": "OPERATION", "Value": "destroy"}
            ]
          }]
        }
      },
      "ResultPath": "$.ecs_result",
      "Retry": [{
        "ErrorEquals": ["ECS.AmazonECSException"],
        "IntervalSeconds": 30,
        "MaxAttempts": 3,
        "BackoffRate": 2
      }],
      "Catch": [{
        "ErrorEquals": ["States.ALL"],
        "ResultPath": "$.error",
        "Next": "DestroyFailed"
      }],
      "Next": "CheckResult"
    },
    "CheckResult": {
      "Type": "Choice",
      "Choices": [{
        "Variable": "$.ecs_result.Tasks[0].Containers[0].ExitCode",
        "NumericEquals": 0,
        "Next": "DestroySuccess"
      }],
      "Default": "DestroyFailed"
    },
    "DestroySuccess": {
      "Type": "Succeed"
    },
    "DestroyFailed": {
      "Type": "Fail",
      "Error": "DestroyFailed",
      "Cause": "Pulumi destroy task failed"
    }
  }
}
