terraform/modules/range/provisioner/state_machines/teardown_range.asl.json
{
  "Comment": "Teardown an existing range - destroy all resources",
  "StartAt": "Cleanup",
  "TimeoutSeconds": 900,
  "States": {
    "Cleanup": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${cleanup_lambda_arn}",
        "Payload": {
          "range_id.$": "$.range_id",
          "mark_failed": false
        }
      },
      "ResultPath": "$.cleanup_result",
      "ResultSelector": {
        "cleaned_up.$": "$.Payload.cleaned_up"
      },
      "Next": "Success",
      "Retry": [
        {
          "ErrorEquals": ["States.ALL"],
          "IntervalSeconds": 5,
          "MaxAttempts": 5,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "Failed"
        }
      ]
    },
    "Success": {
      "Type": "Succeed"
    },
    "Failed": {
      "Type": "Fail",
      "Error": "TeardownFailed",
      "Cause": "Range teardown failed"
    }
  }
}
